---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: shlink
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: staging
  target:
    name: shlink-secret
    template:
      engineVersion: v2
      data:
        GEOLITE_LICENSE_KEY: "{{ .shlink_geolite_license_key }}"
        DB_PASSWORD: "{{ .shlink_db_password }}"
        API_KEY: "{{ .shlink_api_key }}"
  dataFrom:
    - extract:
        key: shlink