---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      sabnzbd:
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/sabnzbd
              tag: 4.2.3
              pullPolicy: IfNotPresent
            env:
              TZ: "America/Los_Angeles"
              SABNZBD__PORT: 30055
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.media,
                sabnzbd.media.svc,
                sabnzbd.media.svc.cluster,
                sabnzbd.media.svc.cluster.local,
                downloads.${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: sabnzbd-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 8Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: sabnzbd
        ports:
          http:
            port: 30055
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "downloads.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: sabnzbd-config
        globalMounts:
          - path: /config
      sabnzbd-incomplete:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/incoming/sabnzbd/Downloads/incomplete
        globalMounts:
          - path: /mnt/sabnzbd/Downloads/incomplete
            readOnly: false
      sabnzbd-complete:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/incoming/sabnzbd/Downloads/complete
        globalMounts:
          - path: /mnt/sabnzbd/Downloads/complete
            readOnly: false
      incomplete:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /incomplete
      tmp:
        type: emptyDir