---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: audiobookshelf
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      audiobookshelf:
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
            env:
              TZ: "America/Los_Angeles"
              AUDIOBOOKSHELF_UID: 568
              AUDIOBOOKSHELF_GID: 568
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /healthcheck
            #         port: 80
            #       initialDelaySeconds: 0
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 1.5Gi
    service:
      app:
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "audiobook.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: audiobookshelf-config
        advancedMounts:
          audiobookshelf:
            app:
              - path: /config
                subPath: config
      tmpfs:
        type: emptyDir
        advancedMounts:
          audiobookshelf:
            app:
              - path: /.npm
                subPath: cache
              - path: /metadata/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
      # nfs-nas-media:
      #   type: nfs
      #   server: gladius.bjw-s.internal
      #   path: /mnt/tank/media
      #   advancedMounts:
      #     audiobookshelf:
      #       app:
      #         - path: /data/nas-media/Library
      #           subPath: Library
      audiobook:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/audiobook
        globalMounts:
          - path: /mnt/audiobook
            readOnly: false