---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      sonarr:
        # initContainers:
        #   init-db:
        #     image:
        #       repository: ghcr.io/onedr0p/postgres-init
        #       tag: 16.2
        #       pullPolicy: IfNotPresent
        #     envFrom:
        #       - secretRef:
        #           name: sonarr-secret
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/sonarr
              tag: 4.0.4.1491
              pullPolicy: IfNotPresent
            env:
              TZ: "America/Los_Angeles"
              SONARR__INSTANCE_NAME: Sonarr
              SONARR__PORT: 8989
              SONARR__APPLICATION_URL: "https://tv.${SECRET_DOMAIN}"
              SONARR__LOG_LEVEL: info
              SONARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: sonarr-secret
                    key: SONARR_API_KEY
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: sonarr
        ports:
          http:
            port: 8989
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "tv.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: sonarr-config
        globalMounts:
          - path: /config
      tv:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/video/tv
        globalMounts:
          - path: /mnt/tv
            readOnly: false
      sabnzbd-complete:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/incoming/sabnzbd/Downloads/complete
        globalMounts:
          - path: /mnt/incoming/sabnzbd/Downloads/complete
            readOnly: false
      tmp:
        type: emptyDir