---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readarr
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      readarr:
        # initContainers:
        #   init-db:
        #     image:
        #       repository: ghcr.io/onedr0p/postgres-init
        #       tag: 16.2
        #       pullPolicy: IfNotPresent
        #     envFrom:
        #       - secretRef:
        #           name: readarr-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/readarr
              tag: 0.4.18.2805
              pullPolicy: IfNotPresent
            env:
              TZ: "America/Los_Angeles"
              READARR__INSTANCE_NAME: Readarr
              READARR__APPLICATION_URL: "https://books.${SECRET_DOMAIN}"
              READARR__APP__THEME: dark
              # # READARR__AUTH__METHOD: Forms
              # READARR__AUTH__REQUIRED: DisabledForLocalAddresses
              READARR__LOG__DBENABLED: "False"
              READARR__LOG__LEVEL: info
              READARR__SERVER__PORT: &port 8787
              READARR__UPDATE__BRANCH: develop
              READARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: readarr-secret
                    key: READARR_API_KEY
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                cpu: 1000m
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: readarr
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "books.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: readarr-config
        globalMounts:
          - path: /config
      #       media:
      #         enabled: true
      #         type: nfs
      #         server: ${NAS_IP}
      #         path: /mnt/storage/media
      #         globalMounts:
      #           - path: /media
      tmp:
        type: emptyDir