---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: radarr
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      radarr:
        # initContainers:
        #   init-db:
        #     image:
        #       repository: ghcr.io/onedr0p/postgres-init
        #       tag: 16.2
        #       pullPolicy: IfNotPresent
        #     envFrom:
        #       - secretRef:
        #           name: radarr-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.0.3.10276@sha256:0ebc60aa20afb0df76b52694cee846b7cf7bd96bb0157f3b68b916e77c8142a0
              pullPolicy: IfNotPresent
            env:
              TZ: "America/Los_Angeles"
              RADARR__INSTANCE_NAME: Radarr
              RADARR__PORT: &port 7878
              RADARR__APPLICATION_URL: "https://movies.${SECRET_DOMAIN}"
              RADARR__APP__THEME: dark
              RADARR__LOG__DBENABLED: "False"
              RADARR__LOG_LEVEL: info
              RADARR__UPDATE__BRANCH: develop
              RADARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: radarr-secret
                    key: RADARR_API_KEY
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: radarr
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "movies.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: radarr-config
        globalMounts:
          - path: /config
      movies:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/video/movie
        globalMounts:
          - path: /mnt/movie
            readOnly: false
      sabnzbd-complete:
        type: nfs
        server: "${SECRET_NFS_IP}"
        path: /mnt/storage/media/incoming/sabnzbd/Downloads/complete
        globalMounts:
          - path: /mnt/incoming/sabnzbd/Downloads/complete
            readOnly: false
      tmp:
        type: emptyDir