---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: kubernetes-secret-store
  target:
    name: kube-prometheus-stack-secret
    template:
      engineVersion: v2
      data:
        GRAFANA_ADMIN_PASSWORD: "{{ .grafana_admin_password }}"
  dataFrom:
    - extract:
        key: monitoring